.login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  .form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 2px;
    .field {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;
    }
    input {
      width: 250px;
      padding: 10px;
      border: #ffdead;
      background-color: #ffffff52;
      border-bottom: 2px #000 solid;
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
    .login-user-btn {
      cursor: pointer;
      span {
        text-decoration: underline;
      }
    }
    .forgot-password {
      font-size: 0.8em;
      text-align: left;

      margin: -30px 0 28px -111px;
    }
  }
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    & > * {
      margin: 0 10px;
    }
  }
}
