.massage-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 65%;
  background-color: #f0ffffb0;
  margin: 0 auto;
  margin-top: 10px;
  & > * {
    padding: 5px 15px;
  }

  .massage-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .btn-container {
    & > * {
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .accept {
      background-color: #00800099;
      &:hover {
        background-color: green;
      }
    }
    .cancel {
      background-color: #f009;
      &:hover {
        background-color: red;
      }
    }

    &.choose {
      display: none;
    }
  }
  .massage-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .is-open {
      width: 20px;
      height: 20px;
      display: flex;
      border-radius: 50%;
    }
  }
}

@include for-mobile-layout {
  .massage-preview {
    width: 100%;
    .massage-amount {
      .is-open {
        width: 15px;
        height: 15px;
      }
    }
  }
}
