.app {
  min-height: 100vh;
  background-image: url(../../imgs/bcImg.jpg);
  header {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #b0b0b04a;
    padding: 0 20px;
    box-shadow: 1px 5px 20px 7px #0000002b;
    a {
      cursor: pointer;
    }

    .links {
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      & > * {
        padding-right: 20px;
        position: relative;
      }
      .log-out {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .message-header {
        position: relative;
        p {
          position: absolute;
          top: -8px;
          right: 15px;
        }
      }
    }
  }
  .app-container {
    min-height: 95%;
    // background-color: #0000001a;
  }
}
