.contact-page {
  .add-contact {
    margin-bottom: 15px;
    // margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    input {
      background-color: #00000026;
      padding: 5px;
      width: 250px;
      margin-left: 45px;
    }
    .add-btn {
      margin-top: 6px;
    }
  }
  h2 {
    text-align: center;
  }
}

@include for-mobile-layout {
  .contact-page {
  }
}
