.login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  .form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 2px;
    .field {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;
    }
    input {
      padding: 5px 8px;
      width: 100%;
    }
    .login-user-btn {
      cursor: pointer;
      span {
        text-decoration: underline;
      }
    }
  }
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    & > * {
      margin: 0 10px;
    }
  }
}
