@font-face {
  font-family: Ubuntu-Bold;
  src: url(../../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubuntu-Light;
  src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

// @font-face {
//     src: url(../../fonts/OpenSans-Light.ttf);
//     font-family: OpenSans-Light;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Regular.ttf);
//     font-family: OpenSans;
// }
